.benefits {
  padding-top: 120px;
  padding-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: $color-aliceblue-draker;

  @include vp-1023 {
    padding: 0;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @include vp-769 {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

.benefits ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;

  list-style: none;

  @include vp-769 {
    grid-template-columns: 1fr;
  }
}

.benefits li:hover h3 {
  color: $color-aliceblue;
  transition: 0.4s ease-out;
}

.benefits li:hover p {
  color: $color-aliceblue;
  transition: 0.4s ease-out;
}

.benefits li:hover svg {
  color: $color-aliceblue;
  fill: $color-aliceblue;
  transition: 0.4s ease-out;
}

.benefits li {
  padding-top: 40px;
  padding-right: 42px;
  padding-bottom: 35px;
  padding-left: 42px;
  width: 100%;
  min-height: 300px;
  background-color: $color-aliceblue-draker;
  border: 1px solid $color-tintsofwhisper;
  border-left: 5px solid $color-deepskyblue;

  &:hover {
    background-color: $color-deepskyblue;
    transition: 0.4s ease-out;
  }

  @include vp-1023 {
    padding-right: 30px;
    padding-left: 41px;
    min-height: 360px;
  }

  @include vp-769 {
    padding-top: 30px;
    padding-left: 26px;
    min-width: 270px;
    min-height: 340px;

    &:nth-child(4n + 3),
    &:nth-child(4n + 4) {
      min-height: 325px;
    }
  }
}

.benefits h3 {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 15px;
  font-family: $ff-roboto-condensed;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: $color-deepskyblue;

  @include vp-1023 {
    margin-bottom: 11px;
    padding-top: 9px;
  }

  @include vp-769 {
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 28px;
  }
}

.benefits p {
  margin: 0;
  max-width: 505px;
  color: $color-blackpearl;

  @include vp-769 {
    font-size: 14px;
    line-height: 19px;
  }
}

.benefits span {
  text-transform: uppercase;
}

.benefits__item {
  &--third svg {
    margin-left: -6px;
  }

  @include vp-1023 {
    &--third svg {
      margin-left: 0;
    }

    &--third h3 {
      margin-bottom: 8px;
      padding-top: 6px;
    }

    &--fourth h3 {
      margin-bottom: 5px;
      padding-top: 4px;
    }
  }

  @include vp-769 {
    &--third h3,
    &--fourth h3 {
      margin-bottom: 12px;
      padding-top: 12px;
    }
  }
}

.benefits svg {
  width: 35px;
  height: 35px;
  fill: $color-deepskyblue;

  @include vp-769 {
    width: 30px;
    height: 30px;
  }
}
