.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: none;
  overflow-y: scroll;

  &--show {
    display: block;
  }
}

.modal__wrapper {
  position: relative;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.modal__popup {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: $color-default-black;
  opacity: 0.7;
  z-index: 1;

}

.modal__content form {
  position: relative;
  padding: 40px;
  padding-top: 39px;
  width: 500px;
  height: 610px;
  background-color: $color-deepskyblue;
  z-index: 10;
  border-radius: 3px;

}

.modal__content strong {
  margin-bottom: 4px;
  display: block;
  font-family: $ff-roboto-condensed;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  color: $color-default-white;
}

.modal__content p {
  margin: 0;
  margin-bottom: 38px;
  width: 380px;
  color: $color-default-white;
}

.modal__content-form-wrapper input,
.modal__content-form-wrapper textarea {
  margin-bottom: 20px;
}

.modal__content-form-wrapper input {
  padding: 16px;
  width: 100%;
  background-color: rgba($color-blackpearl, 0.15);
  color: $color-blackpearl;
  border: none;
  border-radius: 3px;

  &::placeholder {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    background-color: rgba($color-blackpearl, 0.3);
  }
}

.modal__content-form-wrapper textarea {
  padding: 25px 15px;
  width: 100%;
  min-height: 155px;
  background-color: rgba($color-blackpearl, 0.15);
  color: $color-blackpearl;
  border: none;
  border-radius: 3px;

  &::placeholder {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    background-color: rgba($color-blackpearl, 0.3);
  }
}

.modal__content-btn-checkbox {
  display: flex;
  flex-direction: column-reverse;
}

.modal__content-btn-checkbox label {
  position: relative;
  margin-left: 35px;
  width: 100%;
  font-size: 14px;
  line-height: 15px;
  color: $color-default-white;
}

.modal__content-btn-checkbox input:hover + label,
.modal__content-btn-checkbox input:focus + label {
  color: $color-blackpearl;
}

.modal__content-btn-checkbox input + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -26px;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
}

.modal__content-btn-checkbox input:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -24px;
  width: 8px;
  height: 5px;

  background: url(../img/svg/icon-checkbox.svg) no-repeat;
}

.modal__content-btn-checkbox input:hover + label::before,
.modal__content-btn-checkbox input:focus + label::before,
.modal__content-btn-checkbox input + label:hover::before,
.modal__content-btn-checkbox input + label:focus:before {
  border: 1px solid $color-blackpearl;
  background-color: $color-blackpearl;
}

.modal__content-btn {
  margin-bottom: 16px;
  padding: 15px;
  padding-bottom: 12px;
  width: 100%;
  letter-spacing: 0.05em;
  color: $color-default-white;
  background-color: $color-blackpearl;
  border: none;
}

.modal__off {
  position: absolute;
  top: 17px;
  right: 9px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.modal-advance {
  display: none;

  &--show {
    display: block;
  }
}

.modal__success-content {
  position: relative;
  padding: 50px;
  width: 700px;
  height: 110px;
  background-color: $color-deepskyblue;
  border-radius: 3px;
  z-index: 10;
}

.modal__success-description {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-size: 25px;
  color: $color-default-white;
  text-align: center;
}
