.page-footer {
  background-color: $color-blackpearl;

  .container {
    padding-top: 55px;
    padding-bottom: 44px;

    display: flex;
    justify-content: space-between;

    @include vp-1023 {
      padding-bottom: 58px;

      display: grid;
      grid-template-columns: auto auto;
      justify-content: flex-start;
    }

    @include vp-1023 {
      justify-content: space-between;
    }

    @include vp-767 {
      padding: 35px 0;
      margin: 0;

      display: flex;
      flex-direction: column;
    }
  }
}

.page-footer__company-links {
  flex-shrink: 0;

  margin-right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include vp-1023 {
    grid-column: 1 / -1;
    flex-direction: row;
    margin-bottom: 36px;
    margin-right: 0;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 29px;
    padding: 0 25px;
  }
}

.page-footer__logo {
  margin-top: -5px;
  margin-bottom: 30px;

  img {
    width: 215px;
    height: 55px;
  }

  @include vp-1023 {
    margin-right: auto;
    margin-top: -4px;
    margin-bottom: 0;
  }

  @include vp-767 {
    margin: 0 auto 20px;
    position: relative;
    left: -3px;
  }
}

.page-footer__socials {
  margin-left: 16px;

  @include vp-1023 {
    margin-top: 5px;
  }

  @include vp-767 {
    margin: 0 auto;
    position: relative;
    left: 2px;
  }
}

.page-footer__site-sections {
  margin-left: auto;

  @include vp-1023 {
    margin-left: 0;
  }

  @include vp-767 {
    // padding: 22px 25px 22px;
    border-top: 1px solid transparentize($color-aliceblue, 0.3);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 27px;
      right: 26px;
      width: 15px;
      height: 1px;
      background-color: $color-aliceblue;
    }

    &::after {
      content: "";
      position: absolute;
      top: 27px;
      right: 26px;
      width: 15px;
      height: 1px;
      transform: rotate(90deg);
      background-color: $color-aliceblue;
    }

    .site-sections__title {
      cursor: pointer;
    }

    .site-sections__list {
      display: none;
    }
  }

  &.is-opened {
    @include vp-767 {
      &::after {
        transform: rotate(0deg);
      }
    }
  }

  &--nojs {
    @include vp-767 {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      .site-sections__title {
        cursor: default;
      }

      .site-sections__list {
        display: flex;
      }
    }
  }
}

.page-footer__contacts {
  margin-right: 39px;
  margin-left: 30px;
  min-width: 180px;

  @include vp-1023 {
    position: static;
    left: 0;
    margin-right: 13px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-left: 0;
    position: relative;

    border-top: 1px solid transparentize($color-aliceblue, 0.3);
    border-bottom: 1px solid transparentize($color-aliceblue, 0.3);

    &::before {
      content: "";
      position: absolute;
      top: 27px;
      right: 26px;
      width: 15px;
      height: 1px;
      background-color: $color-aliceblue;
    }

    &::after {
      content: "";
      position: absolute;
      top: 27px;
      right: 26px;
      width: 15px;
      height: 1px;
      transform: rotate(90deg);
      background-color: $color-aliceblue;
    }

    &.is-opened {
      @include vp-767 {
        &::after {
          transform: rotate(0deg);
        }
      }
    }
  }

  &--nojs {
    @include vp-767 {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      .contacts__title {
        cursor: default;
      }

      .contacts__list {
        display: flex;
      }
    }
  }
}

.socials {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 30px);
  gap: 25px;
}

.socials__item {
  width: 30px;
  height: 30px;
}

.socials__link {
  outline: none;

  svg {
    fill: $color-default-white;
    margin-left: 17px;
  }
}

.socials__link svg:hover,
.socials__link svg:focus {
  fill-opacity: 0.7;
}

.contacts {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
}

.contacts__title {
  margin: 0 0 22px;
  padding: 0;

  font: 400 15px/16px $ff-roboto-condensed;
  color: $color-default-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-767 {
    margin-bottom: 0;
    padding: 22px 25px 17px;

    cursor: pointer;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include vp-767 {
    // margin-top: 17px;
    padding: 0 25px 5px;

    display: none;
  }
}


.contacts__address {
  margin-bottom: 11px;
  color: transparentize($color-default-white, 0.3);
  font-style: normal;

  @include vp-767 {
    font: 400 14px/135% $ff-pt-mono;
    margin-bottom: 22px;
  }
}

.contacts__tel {
  margin-bottom: 6px;
  color: transparentize($color-default-white, 0.3);
  font-style: normal;
  outline: none;

  @include vp-767 {
    font: 400 14px/135% $ff-pt-mono;
    margin-bottom: 12px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-default-white;
      text-decoration: underline;
    }
  }
}
